<footer class="mt-auto text-center text-white">
  <div class="pt-4 d-flex flex-column justify-content-center align-items-center">
    <div>
      <h5>powered by</h5>
      <h1>Foodie</h1>
    </div>
  </div>

  <div class="text-center p-3">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/robotsch/Foodie">Foodie Group</a>
  </div>
</footer>