<footer class="mt-auto text-center text-white">
  <div class="pb-2 pt-3 d-flex flex-column justify-content-center align-items-center">
    <img src="https://lhl-midterm-foodie.herokuapp.com/assets/logo.svg">
  </div>

  <div class="text-center p-3">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/robotsch/Foodie">Foodie Group</a>
  </div>
</footer>