<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Reseting CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />


  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/topbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/full-menu.css" type="text/css" />

  <!-- jQuery -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- app.js -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <title>Golden Wok</title>
</head>

<body>

  <%- include('partials/_topbar') %>

    <div class="container-md" style="border:2px solid black;">
      <div class="row">
        <div class="col-lg-8 mx-auto" id="banner">
        </div>
      </div>


      <!-- START OF TEST STUFF -->

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h3>Appetizers</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <div>
            <h4>Spring Rolls</h4>
            <p>A deep fried roll filled with vegetables</p>
            <h5>$1.50</h5>
          </div>
          <img src="" alt="IMG">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <div>
            <h4>Spring Rolls</h4>
            <p>A deep fried roll filled with vegetables</p>
            <h5>$1.50</h5>
          </div>
          <img src="" alt="IMG">
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <div>
            <h4>Spring Rolls</h4>
            <p>A deep fried roll filled with vegetables</p>
            <h5>$1.50</h5>
          </div>
          <img src="" alt="IMG">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <div>
            <h4>Spring Rolls</h4>
            <p>A deep fried roll filled with vegetables</p>
            <h5>$1.50</h5>
          </div>
          <img src="" alt="IMG">
        </div>
      </div>


      <!-- NEW SECTION -->

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h3>Mains</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <div>
            <h4>Spring Rolls</h4>
            <p>A deep fried roll filled with vegetables</p>
            <h5>$1.50</h5>
          </div>
          <img src="" alt="IMG">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <div>
            <h4>Spring Rolls</h4>
            <p>A deep fried roll filled with vegetables</p>
            <h5>$1.50</h5>
          </div>
          <img src="" alt="IMG">
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <div>
            <h4>Spring Rolls</h4>
            <p>A deep fried roll filled with vegetables</p>
            <h5>$1.50</h5>
          </div>
          <img src="" alt="IMG">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto d-flex justify-content-between">
          <div>
            <h4>Deserts</h4>
            <p>A deep fried roll filled with vegetables</p>
            <h5>$1.50</h5>
          </div>
          <img src="" alt="IMG">
        </div>
      </div>

      <!-- END OF TEST STUFF -->

      
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
</body>

</html>