<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Reseting CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/topbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/order-history.css" type="text/css" />

    <!-- jQuery -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- app.js -->
    <script type="text/javascript" src="/scripts/order-history.js"></script>

    <title>Order History | Golden Wok</title>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%- include('partials/_topbar') %>

    <div id="massive" class="container-md">
      <div class="row">
        <div id="active-div">
          <img
            id="cooking-img"
            src="https://lhl-midterm-foodie.herokuapp.com/assets/cooking.png"
            alt="Cooking"
          />
          <h2 name="active">Active Orders</h2>
          <img
            id="cooking-img-2"
            src="https://lhl-midterm-foodie.herokuapp.com/assets/cooking.png"
            alt="Cooking"
          />
        </div>
      </div>

      <div id="active-orders-container">
        <div id="active-div">
          <h3>NO ACTIVE ORDERS</h3>
        </div>
      </div>

      <div class="row">
        <div id="active-div">
          <img
            id="past-img"
            src="https://lhl-midterm-foodie.herokuapp.com/assets/past.png"
            alt="History"
          />
          <h2 name="active">Prior Orders</h2>
          <img
            id="past-img-2"
            src="https://lhl-midterm-foodie.herokuapp.com/assets/past.png"
            alt="History"
          />
        </div>
      </div>

      <div id="previous-orders-container">
        <div id="active-div">
          <h3>NO PREVIOUS ORDERS</h3>
        </div>
      </div>
    </div>

    <%- include('partials/_footer') %>
    
    <!-- Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
