<div class="container-md d-flex flex-column align-items-center mt-4" id="order-success-container">
  <h3>Thank You!</h3>
  <h5>Pickup at 94 Halsey Ave, Toronto</h5>
  <h5>Your order will be ready at approximately:</h5>
  <span id="estimated-completion-time">1:25 pm</span>
  <span id="estimated-completion-date-time">(1:25 pm on Tue, April 11, 2022)</span>
</div>