@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

$bg-colour: #fff;
$navbar-font-colour: #fff;
$maroon-colour: #DA4167;
$orange-colour: #f78764;
$dark-orange-colour: #E9400C;
$navy-colour: #083d77;
$light-blue-colour: #4096f2;
$yellow-colour: #f4d35e;
$category-title-font-color: rgba(0, 0, 0, 0.61);
$max-width: 500px;