@use 'variables'as v;

#cart-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 60px;
  right: 50px;
  background-color: v.$maroon-colour;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: transform 0.3s, color 0.3s;
}

#cart-btn:hover,
#cart-btn:focus,
#cart-btn:active,
#cart-btn.active,
.open>.dropdown-toggle#cart-btn {
  transform: scale(1.07) translateY(-3px);
  color: #fff;
}

@media screen and (max-width: 1000px) {
  #cart-btn {
    bottom: 5vh;
    right: 2vw;
  }
}

#cart-btn>span {
  font-size: 20px;
  font-weight: 500;
}

#cart-btn>img {
  color: inherit;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}