@use "variables" as v;

#totals-container {
  width: 100%;
}

#totals-container > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#cart-container {
  max-width: v.$max-width;
}

#cart-container > hr {
  width: 100%;
}

.modal-body > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.modal-body > div > div {
  text-align: center;
}

.modal-body > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: v.$navy-colour;
  border-color: v.$navy-colour;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: v.$light-blue-colour;
  border-color: v.$light-blue-colour;
}

#place-order-btn {
  background-color: v.$dark-orange-colour;
  border-color: v.$dark-orange-colour;
}

#place-order-btn:hover, #place-order-btn:focus, #place-order-btn:active, #place-order-btn.active, .open>.dropdown-toggle#place-order-btn {
  background-color: v.$orange-colour;
  border-color: v.$orange-colour;
}
