@use 'variables'as v;

body {
  font-family: 'Inter', sans-serif;
}

body,
html {
  margin: 0;
}

body {
  min-height: 100vh;
  height: 100%;
  background: v.$bg-colour;
}

.container-md {
  margin-top: 100px;
}