@use 'variables'as v;

body {
  font-family: 'Inter', sans-serif;
}

body,
html {
  margin: 0;
  // position: relative;
}

body {
  min-height: 100vh;
  height: 100%;
  background: v.$bg-colour;
}

.container-md {
  margin-top: 100px;
  // min-height: 100vh;
  // overflow: hidden;
  // display: block;
  // padding-bottom: 180px;
}