.menuItem-img-container {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.menuItem-img-container>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.menuItem {
  cursor: pointer;
  margin-bottom: 1rem;

  h4 {
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  p {
    font-weight: 400;
    margin-bottom: 0.3rem;
  }

  h5 {
    font-weight: 600;
  }
}


.modal-body>div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.modal-body>div>div {
  text-align: center;
}

.modal-body>div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}