@use 'variables' as v;

.menuItem-img-container {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
}

.menuItem-img-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: transform 0.3s;
}

.menuItem {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-bottom: 1rem;

  h4 {
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 18px;
  }

  p {
    font-weight: 400;
    margin-bottom: 0.3rem;
  }

  h5 {
    font-weight: 600;
    font-size: 16px;
  }
  
}

.menuItem:hover {
  box-shadow: 0 0 25px rgba(33, 33, 33, 0.2);
}

.modal-body > div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.modal-body > div > div {
  text-align: center;
}

.modal-body > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-to-order-btn {
  background-color: v.$maroon-colour;
  border-color: v.$maroon-colour;
}
