@use 'variables' as v;

.title img{
  height: 36px;
  width: auto;
}

.title { 
  display: flex;
  justify-content: center;
  height: 36px;
  font-size: 30px;
  font-weight: 500;
}

.entry-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 15px;
  transition: box-shadow 0.3s;
}

.entry-div:hover {
  box-shadow: 0 0 25px rgba(33, 33, 33, 0.2);
}

.resolve-order-btn {
  border-radius: 10px;
}

.btn-primary {
  color: black;
  background-color: v.$orange-colour;
  border-color: v.$orange-colour;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: white;
  background-color: v.$maroon-colour;
  border-color: v.$maroon-colour;
}

@media screen and (max-width: 600px) {
  .entry-div {
    flex-direction: column;
  }

  .entry-div > div {
    margin-bottom: 10px;
  }
}
