@use 'variables'as v;

#search-text {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;

  resize: none;
  border-bottom: 1px solid #c7cedb;
  width: 300px;
}

#search-text:focus-visible {
  border: 0 none #FFF;
  overflow: hidden;
  outline: none;
  border-bottom: 1px solid #c7cedb;
}

textarea:focus {
  border: 0 none #FFF;
  overflow: hidden;
  outline: none;
}

#search-submit {
  color: #c7cedb;
  border: 2px solid #c7cedb;
  box-sizing: border-box;
  border-radius: 12px;
  width: 80px;
  background-color: white;
}

#search-form {
  display: flex;
  justify-content: center;
  height: 40px;
}

#search-img {
  margin-right: 10px;
}