@use 'variables'as v;

nav {
  background-color: v.$maroon-colour;
}

.navbar-brand {
  font-weight: 700;
  font-size: 30px;
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  color: v.$navbar-font-colour;
}

#foodie-logo {
  display: block;
}

@media (min-width: 768px) {
  nav {
    height: 71px;
  }

  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  #foodie-logo {
    display: none;
  }
}